<launch>
  <!--  A launchfile to launch amcl and move_base in a namespace.
        By using a namespace all topic, service, and parameter 
        names will be prefixed (to be set with the "prefix" argument).
        Additional the value of the prefix argument is used to set 
        frame_id's for tf frames and message headers
        
        common_map argument:
        True: All namespaced amcl instances use a shared common map map and produce /map -> robot_x/odom transform
        False: All namespaced amcl instances use individual maps (robot_x/map) and produce robot_x/map -> robot_x/odom transform

        Launch map_server(s) separately.
  -->


  <arg name="prefix" default="robot_0" />
  <arg name="common_map" default="true"/>
  
  <group ns="$(arg prefix)">
   
    <include file="$(find turtlebot_fleet_nav_launch)/launch/amcl_move_base.launch">
      <arg name="prefix" value="$(arg prefix)"/>
      <arg name="common_map" value="$(arg common_map)"/>
    </include>

  </group>

</launch>